# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/
dist/

# Production
*.tsbuildinfo
next-env.d.ts

# Environment
.env
.env.local
.env*.local

# Prisma / SQLite
prisma/*.db
prisma/*.db-journal

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
package-lock.json
